<html>

<head>
    <%- include('../partials/head.ejs') %>
</head>

<header>
    <%- include('../partials/header.ejs') %>
</header>

<body>
    <h1 class="text-center text-danger">Not Logged In. <a href="/">Return To Home.</a></h1>
</body>

<footer>
    <%- include('../partials/footer.ejs') %>
</footer>

</html>