<html>

<head>
    <%- include('./partials/head.ejs') %>
        <title>Feedback | uuwuu.xyz</title>
</head>

<header>
    <%- include('./partials/header.ejs') %>
</header>

<body>
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSeqV5atTOBcRdNe4oaVHkquQOK4C8KSOSnbPlw023gl0VgyUA/viewform?embedded=true"
        width="1920" height="1080" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</body>
</body>

<footer>
    <%- include('./partials/footer.ejs') %>
</footer>

</html>