<html>

<head>
    <%- include('./partials/head.ejs') %>
        <title>Home | uuwuu.xyz</title>
</head>

<header>
    <%- include('./partials/header.ejs') %>
</header>

<body>
    <h1 class="text-center">uuwuu</h1>
    <br>
    <h3 class="text-center">A Discord bot targeted towards weebs and Hypixel players</h3>
</body>

<footer>
    <%- include('./partials/footer.ejs') %>
</footer>

</html>