<html>

<head>
    <%- include('./partials/head.ejs') %>
        <title>Thanks for inviting me! | uuwuu.xyz</title>
</head>

<header>
    <%- include('./partials/header.ejs') %>
</header>

<body>
    <h1 class="text-center">Thank you for inviting me to your server!</h1>
    <br>
    <h2 class="text-center"><a class="text-success" href="/">Return to home</a></h2>
</body>

<footer>
    <%- include('./partials/footer.ejs') %>
</footer>

</html>