<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://uuwuu.xyz/static/icon_full.png">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<link id="dark-theme-style" rel="stylesheet" />

<meta property="og:title" content="uuwuu Discord Bot" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://uuwuu.xyz" />
<meta property="og:image" content="https://uuwuu.xyz/static/icon_full.png" />
<meta property="og:description"
    content="A Discord bot under development, targeted towards anime watchers and manga readers, alongside Minecraft Hypixel players." />
<meta name="theme-color" content="#ffb5eb" />

<title>uuwuu.xyz</title>